Projent/Projent/Connected Services/PMServer2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProjectService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PMService2.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectService_IntializeDatabaseService_InputMessage">
    <wsdl:part name="parameters" element="tns:IntializeDatabaseService" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IntializeDatabaseService_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntializeDatabaseServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_FindDirectMessagesFor_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDirectMessagesFor" />
  </wsdl:message>
  <wsdl:message name="IProjectService_FindDirectMessagesFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDirectMessagesForResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_NewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:NewMessage" />
  </wsdl:message>
  <wsdl:message name="IProjectService_NewMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_RequestState_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestState" />
  </wsdl:message>
  <wsdl:message name="IProjectService_RequestState_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestStateResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckNewMessagesFor_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNewMessagesFor" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckNewMessagesFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNewMessagesForResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectService">
    <wsdl:operation name="IntializeDatabaseService">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/IntializeDatabaseService" message="tns:IProjectService_IntializeDatabaseService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/IntializeDatabaseServiceResponse" message="tns:IProjectService_IntializeDatabaseService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDirectMessagesFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/FindDirectMessagesFor" message="tns:IProjectService_FindDirectMessagesFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/FindDirectMessagesForResponse" message="tns:IProjectService_FindDirectMessagesFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/NewMessage" message="tns:IProjectService_NewMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/NewMessageResponse" message="tns:IProjectService_NewMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestState">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/RequestState" message="tns:IProjectService_RequestState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/RequestStateResponse" message="tns:IProjectService_RequestState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNewMessagesFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CheckNewMessagesFor" message="tns:IProjectService_CheckNewMessagesFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CheckNewMessagesForResponse" message="tns:IProjectService_CheckNewMessagesFor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProjectService" type="tns:IProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntializeDatabaseService">
      <soap:operation soapAction="http://tempuri.org/IProjectService/IntializeDatabaseService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDirectMessagesFor">
      <soap:operation soapAction="http://tempuri.org/IProjectService/FindDirectMessagesFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewMessage">
      <soap:operation soapAction="http://tempuri.org/IProjectService/NewMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestState">
      <soap:operation soapAction="http://tempuri.org/IProjectService/RequestState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNewMessagesFor">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CheckNewMessagesFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IProjectService" type="tns:IProjectService">
    <wsp:PolicyReference URI="#NetTcpBinding_IProjectService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IntializeDatabaseService">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/IntializeDatabaseService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDirectMessagesFor">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/FindDirectMessagesFor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewMessage">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/NewMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestState">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/RequestState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNewMessagesFor">
      <soap12:operation soapAction="http://tempuri.org/IProjectService/CheckNewMessagesFor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="BasicHttpBinding_IProjectService" binding="tns:BasicHttpBinding_IProjectService">
      <soap:address location="http://pasan-desktop:8076/ProjectServiceReference" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IProjectService" binding="tns:NetTcpBinding_IProjectService">
      <soap12:address location="net.tcp://pasan-desktop:8070/ProjectServiceReference" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://pasan-desktop:8070/ProjectServiceReference</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PASAN-DESKTOP\Pasan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>