PMService2/PMServer2/Connected Services/ProjectServiceReference/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65524/ProjectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65524/ProjectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65524/ProjectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMService2.Model" />
      <xsd:import schemaLocation="http://localhost:65524/ProjectService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectService_IntializeDatabaseService_InputMessage">
    <wsdl:part name="parameters" element="tns:IntializeDatabaseService" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IntializeDatabaseService_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntializeDatabaseServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_FindDirectMessagesFor_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDirectMessagesFor" />
  </wsdl:message>
  <wsdl:message name="IProjectService_FindDirectMessagesFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDirectMessagesForResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_NewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:NewMessage" />
  </wsdl:message>
  <wsdl:message name="IProjectService_NewMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_RequestState_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestState" />
  </wsdl:message>
  <wsdl:message name="IProjectService_RequestState_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestStateResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckNewMessagesFor_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNewMessagesFor" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckNewMessagesFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNewMessagesForResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteMessagesFrom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessagesFrom" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteMessagesFrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessagesFromResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CreateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CreateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectService">
    <wsdl:operation name="IntializeDatabaseService">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/IntializeDatabaseService" message="tns:IProjectService_IntializeDatabaseService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/IntializeDatabaseServiceResponse" message="tns:IProjectService_IntializeDatabaseService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDirectMessagesFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/FindDirectMessagesFor" message="tns:IProjectService_FindDirectMessagesFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/FindDirectMessagesForResponse" message="tns:IProjectService_FindDirectMessagesFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/NewMessage" message="tns:IProjectService_NewMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/NewMessageResponse" message="tns:IProjectService_NewMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestState">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/RequestState" message="tns:IProjectService_RequestState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/RequestStateResponse" message="tns:IProjectService_RequestState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNewMessagesFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CheckNewMessagesFor" message="tns:IProjectService_CheckNewMessagesFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CheckNewMessagesForResponse" message="tns:IProjectService_CheckNewMessagesFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessagesFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/DeleteMessagesFrom" message="tns:IProjectService_DeleteMessagesFrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/DeleteMessagesFromResponse" message="tns:IProjectService_DeleteMessagesFrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CreateProject" message="tns:IProjectService_CreateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CreateProjectResponse" message="tns:IProjectService_CreateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/UpdateProject" message="tns:IProjectService_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/UpdateProjectResponse" message="tns:IProjectService_UpdateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/DeleteProject" message="tns:IProjectService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/DeleteProjectResponse" message="tns:IProjectService_DeleteProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProjectService" type="tns:IProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntializeDatabaseService">
      <soap:operation soapAction="http://tempuri.org/IProjectService/IntializeDatabaseService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDirectMessagesFor">
      <soap:operation soapAction="http://tempuri.org/IProjectService/FindDirectMessagesFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewMessage">
      <soap:operation soapAction="http://tempuri.org/IProjectService/NewMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestState">
      <soap:operation soapAction="http://tempuri.org/IProjectService/RequestState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNewMessagesFor">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CheckNewMessagesFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessagesFrom">
      <soap:operation soapAction="http://tempuri.org/IProjectService/DeleteMessagesFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CreateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/UpdateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="BasicHttpBinding_IProjectService" binding="tns:BasicHttpBinding_IProjectService">
      <soap:address location="http://localhost:65524/ProjectService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>