Projent/Projent/Connected Services/PMServer1/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMainService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMService1.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_ValidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="IMainService_ValidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserStatus" />
  </wsdl:message>
  <wsdl:message name="IMainService_SetUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatus" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IMainService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="ValidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ValidateLogin" message="tns:IMainService_ValidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ValidateLoginResponse" message="tns:IMainService_ValidateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SetUserStatus" message="tns:IMainService_SetUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SetUserStatusResponse" message="tns:IMainService_SetUserStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetUserStatus" message="tns:IMainService_GetUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetUserStatusResponse" message="tns:IMainService_GetUserStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/RegisterUser" message="tns:IMainService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/RegisterUserResponse" message="tns:IMainService_RegisterUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/IMainService/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <soap:operation soapAction="http://tempuri.org/IMainService/SetUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IMainService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMainService" type="tns:IMainService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMainService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/IMainService/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <soap12:operation soapAction="http://tempuri.org/IMainService/SetUserStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <soap12:operation soapAction="http://tempuri.org/IMainService/GetUserStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/IMainService/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:8086/MainServiceReference" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMainService" binding="tns:NetTcpBinding_IMainService">
      <soap12:address location="net.tcp://localhost:8090/MainServiceReference" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/MainServiceReference</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PASAN-LAPTOP\pasan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>